body {
    margin: 0;
    padding: 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    background: #212121;
}

.header-logo__img {
    width: 150px;
    margin: 10px;
    cursor: pointer;
}

.search {
    margin-top: 20px;
}

.search__form {
    display: flex;
    background: #F9F9F9;
    border-radius: 4em;
}

.search__input {
    width: 0;
    font-size: 1em;
    color: #0F0D08;
    transition: .5s;
}

.search__button {
    display: flex;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    background-color: #F9F9F9;
    transition: .3s;
}

.fa-search {
    margin: auto;
    width: 100px;
    color: black;
}

.search__input::placeholder {
    color: #F9F9F9;
    opacity: .7;
}

.search__form:hover .search__input {
    padding-left: 2em;
    padding-right: 1em;
    width: 340px;
}

.search__button:active {
    transform: scale(.75);
}

.main__content {
    width: 98%;
    margin: auto;
    font-family: Roboto, serif;
    font-weight: 700;
    font-size: 16px;
    color: #F9F9F9;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.movie-list__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 2%;
}

.movie__item {
    position: relative;
}

.movie__title {
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 2.9em;
    color: #F9F9F9;
    text-align: center;
}

.movie__item__img:hover {
    cursor: pointer;
    filter: brightness(40%);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    opacity: 0.3;
}

.overlay {
    height: 460px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 36%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    overflow: hidden;
}

.movie__item:hover .overlay {
    opacity: 1;
}

.overlay__rating {
    font-size: 2em;
}

.overlay__rating:before {
    content: '⭐';
    font-size: 0.5em;
    margin-right: 5px;
    vertical-align: 20%;
}

.overlay__release-year {
    margin-top: 30px;
    font-size: 1em;
    border-bottom: solid 1px #fdfdfd;
}

.overlay__overview {
    font-size: 0.9em;
    margin-top: 10px;
}

.movie__item__img {
    height: 500px;
    max-width: 350px;
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.movie__item__title {
    max-width: 300px;
    font-family: 'Roboto', serif;
    font-weight: 500;
    color: #F9F9F9;
    margin-top: .2em;
    padding-top: 0;
}

.footer {
    margin-top: auto;
    text-align: center;
    background: #212121;
}

.footer__text {
    padding: 20px;
    font-family: Roboto, serif;
    font-size: 1.2em;
    margin-bottom: 0;
    color: #F9F9F9;
}
