body {
    background-size: cover;
}

.main {
    margin-top: 2%;
    margin-bottom: 2%;
}

@keyframes smooth {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.details {
    margin: auto;
    width: 70%;
    font-family: Roboto, serif;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    color: #F9F9F9;
    padding: 20px;
    animation: smooth 2.5s ease;
}

.movie-details__title {
    font-size: 3em;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.additional-details {
    display: flex;
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 1em;
    color: #F9F9F9;
    white-space: pre;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.running-time,
.budget,
.release-date {
    margin-bottom: 0;
}

.running-time,
.release-date {
    margin-right: 10px;
}

.rating {
    position: absolute;
    padding: 10px;
    display: grid;
    border-bottom-right-radius: 30px;
    font-size: 1.6em;
    grid-template-areas:
            " a a "
            " b c ";
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.rating__title {
    display: grid;
    grid-area: a;
    font-size: 0.5em;
}

.fa-star {
    grid-area: b;
    margin-top: 10px;
    font-size: 0.6em;
    color: #ffe101;
}

.movie-details__title,
.rating__title,
.vote-average {
    margin-top: 0;
    margin-bottom: 0;
}

.vote-average {
    display: grid;
    grid-area: c;
}

.media__content {
    display: flex;
    height: 500px;
    justify-content: space-between;
    gap: 10px;
}

.poster__img {
    height: 500px;
}

.trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    animation: smooth 3s ease;
}

.trailer__content {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.trailer__content::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.details__content {
    margin: 10px 0 10px 0;
}

.genres__list {
    font-size: 20px;
    font-weight: 700;
    color: #ffe101;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.overview__text {
    font-size: 1em;
    font-weight: 500;
}

.similar-movies {
    width: 72%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    color: #ffffff;
    clear: both;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    animation: smooth 2.5s ease;
}

.similar-movies__content {
    position: relative;
    padding: 2%;
}

.similar-movies__title {
    margin-top: 0;
    font-size: 1.5em;
    border-bottom: solid 1px #fdfdfd;
}

.similar-movie__list {
    text-align: center;
}

.similar-movie__item {
    height: 180px;
    transition: .5s;
    padding: 10px;
}

.similar-movie__item:hover {
    cursor: pointer;
    filter: brightness(40%);
    transform: scale(0.98);
}

.similar-movie__img {
    height: 270px;
    width: 210px;
}

.similar-movie__title {
    margin: auto;
    font-size: 1em;
    font-family: 'Roboto', serif;
    font-weight: 500;
    color: #ffffff;
}

.glider-prev {
    margin-left: 3%;
}

.glider-next {
    margin-right: 3%;
}

@media only screen and (max-width: 600px) {
    .details {
        margin: auto;
        width: 82%;
    }

    .movie-details__title {
        font-size: 1.5em;
    }

    .media__content {
        height: 250px;
    }

    .poster__img {
        height: 250px;
    }

    .additional-details {
        font-size: 0.8em;
    }

    .genres__list {
        font-size: 14px;
    }

    .overview__text {
        font-size: 0.8em;
    }

    .fa-star {
        font-size: 0.4em;
    }

    .rating {
        font-size: 1.2em;
        padding: 4px;
    }

    .similar-movies {
        width: 90%;
    }

    .similar-movies__title {
        font-size: 1em;
    }

    .similar-movie__img {
        height: 205px;
    }

    .similar-movie__title {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 600px) {
    .details {
        width: 84%;
    }

    .movie-details__title {
        font-size: 1.6em;
    }

    .media__content {
        height: 300px;
    }

    .poster__img {
        height: 300px;
    }

    .additional-details {
        font-size: 0.9em;
    }

    .genres__list {
        font-size: 14px;
    }

    .overview__text {
        font-size: 0.8em;
    }

    .fa-star {
        font-size: 0.5em;
    }

    .rating {
        font-size: 1.3em;
    }

    .similar-movies {
        width: 90%;
    }

    .similar-movies__title {
        font-size: 1.2em;
    }

    .similar-movie__img {
        height: 220px;
    }

    .similar-movie__title {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 768px) {
    .details {
        width: 86%;
    }

    .movie-details__title {
        font-size: 1.8em;
    }

    .media__content {
        height: 350px;
    }

    .poster__img {
        height: 350px;
    }

    .additional-details {
        font-size: 0.9em;
    }

    .genres__list {
        font-size: 17px;
    }

    .overview__text {
        font-size: 0.9em;
    }

    .fa-star {
        font-size: 0.6em;
    }

    .rating {
        font-size: 1.4em;
        padding: 6px;
    }

    .similar-movies {
        width: 90%;
    }

    .similar-movies__title {
        font-size: 1.3em;
    }

    .similar-movie__img {
        height: 240px;
    }

    .similar-movie__title {
        font-size: 1em;
    }
}

@media only screen and (min-width: 992px) {
    .details {
        width: 86%;
    }

    .movie-details__title {
        font-size: 2.5em;
    }

    .media__content {
        height: 450px;
    }

    .poster__img {
        height: 450px;
    }

    .additional-details {
        font-size: 1em;
    }

    .genres__list {
        font-size: 20px;
    }

    .overview__text {
        font-size: 1em;
    }

    .rating {
        font-size: 1.6em;
    }

    .similar-movies {
        width: 90%;
    }

    .similar-movie__img {
        height: 265px;
    }
}

@media only screen and (min-width: 1200px) {
    .details {
        width: 73%;
    }

    .media__content {
        height: 500px;
    }

    .poster__img {
        height: 500px;
    }

    .additional-details {
        font-size: 1em;
    }

    .rating {
        font-size: 1.6em;
        padding: 10px;
    }

    .similar-movies {
        width: 75%;
    }

    .similar-movies__title {
        font-size: 1.5em;
    }

    .similar-movie__img {
        height: 300px;
    }
}
