body {
    background-size: cover;
}

.main {
    margin-top: 2%;
}

.details {
    margin: auto;
    width: 88%;
    font-family: Roboto, serif;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    padding: 1%;
    color: #F9F9F9;
}

.movie-details__title {
    font-size: 2em;
}

.additional-details {
    display: flex;
    font-weight: 400;
    font-size: 1em;
    color: #F9F9F9;
    gap: 10px;
}

.rating {
    display: grid;
    font-size: 1.9em;
    grid-template-areas:
            " a a "
            " b c ";
}

.rating__title {
    display: grid;
    grid-area: a;
    font-size: 0.4em;
}

.fa-star {
    grid-area: b;
    margin-top: 10px;
    font-size: 0.7em;
    color: #ffe101;
}

.movie-details__title,
.rating__title,
.release-date,
.running-time,
.vote-average {
    margin-top: 0;
    margin-bottom: 0;
}

.vote-average {
    display: grid;
    grid-area: c;
    margin-left: auto;
}

.media__content {
    display: flex;
    padding: 1%;
    border-radius: 15px;
    justify-content: space-between;
    gap: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.poster__img {
    height: 500px;
}

.trailer__content {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.trailer__content::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.similar-movies {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    color: #ffffff;
    clear: both;
}

.similar-movies__content {
    position: relative;
    padding: 2%;
}

.similar-movie__list {
    text-align: center;
}

.similar-movie__item {
    height: 200px;
    transition: .5s;
    padding: 0.1%;
}

.similar-movie__item:hover {
    cursor: pointer;
    filter: brightness(40%);
    transform: scale(0.98);
}

.similar-movie__img {
    height: 300px;
    width: 210px;
}

.similar-movie__title {
    margin: auto;
    font-size: 1em;
    font-family: 'Roboto', serif;
    font-weight: 500;
    color: #ffffff;
}

.glider-prev {
    margin-left: 3%;
}

.glider-next {
    margin-right: 3%;
}
